<!DOCTYPE html>
<html ng-app="ft">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Fresh Tomatoes | Framework7 with AngularJS demo</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    
    <!-- Header -->
  <!-- Status bar overlay for fullscreen mode-->
  <div class="statusbar-overlay"></div>

  <!-- Panels overlay-->
  <div class="panel-overlay"></div>
<!-- /Header -->
    
    <!-- Views-->
    <div class="views">
      
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        
        <!-- Top Navbar-->
<div class="navbar color-white theme-white no-border">

  <!-- Navbar page 1 -->
  <div class="navbar-inner">
    <div class="center sliding">Fresh Tomatoes</div>
  </div>

  <!-- Navbar page 2 -->
  <div class="navbar-inner cached" data-page="detailsPage">
    <div class="left sliding">
      <a href="index" class="link back">
          <i class="icon icon-back"></i>
          <span>Back</span>
      </a>
    </div>
      

    <div class="center sliding">Movie info</div>

  </div>

</div>
        
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          
          <!-- - [Page 1] ---------------------------------------- -->
          <div data-page="index" class="page" ng-controller="IndexPageController">
  <!-- Page content-->
  <div class="page-content">
    
    <div class="content-block">
      <p class="buttons-row">
        <a href="#" ng-click="events.onUpcomingClicked()" class="button {{tab.upcoming.active}}">Upcoming movies</a>
        <a href="#" ng-click="events.onTheatersClicked()" class="button {{tab.theater.active}}">In theaters now</a>
      </p>
    </div>
    
    <div class="content-block-title">{{listtype}}</div>
    
    <div id="ft-movielist" class="list-block media-list">
      
      <ul>
        <li class="ft-movielist-item" ng-repeat="movie in movies">
          <a href="#detailsPage" ng-click="events.onListItemClicked(movie)" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <img class="ft-movielist-item-img" src="{{movie.posters.thumbnail}}">
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{movie.title}}</div>
                </div>
                <div class="item-subtitle">{{movie.stars}}</div>
                <div class="item-text">{{movie.synopsis}}</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
          
          <!-- - [Page 2] ---------------------------------------- -->
          <div data-page="detailsPage" class="page cached" ng-controller="DetailsPageController">
  <!-- Page content-->
  <div class="page-content">
    <div class="content-block-title">{{movie.stars}} {{movie.ratings.critics_rating}}</div>

    <div class="card ft-detail-header-img">
      <div style="background-image:url({{movie.posters.detailed}})" valign="bottom" class="card-header color-white no-border">{{movie.title}}</div>
      <div class="card-content">
        <div class="card-content-inner">
          <p class="color-gray">
            Release on {{movie.date}}
          </p>
          <p>{{movie.synopsis}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
          
        </div>
        
        <!-- Bottom Toolbar-->
        <!--
        <div class="toolbar">
        </div>
        -->
        
      </div>
    </div>
    
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>

<!-- Dev only! Removes this for live build -->
<script src="//localhost:35729/livereload.js"></script>

<script type="text/javascript" src="js/ft/AngularApp.js"></script>
<script type="text/javascript" src="js/ft/model/movies/Movies.js"></script>
<script type="text/javascript" src="js/ft/pages/PageController.js"></script>
<script type="text/javascript" src="js/ft/pages/IndexPageController.js"></script>
<script type="text/javascript" src="js/ft/pages/DetailsPageController.js"></script>
<script type="text/javascript" src="js/ft/init.js"></script>
    
  </body>
</html>